.wrapper {
	padding: 10px;
	min-height: 300px;
	max-height: 500px;      
  overflow-y: auto;         
  overflow-x: hidden;      
}

.empty {
	text-align: center;
	padding: 60px 20px;
	color: #888;
}

.empty h3{
	font-size: 24px;
	margin-bottom: 10px;
}

